<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <title v-text="title">代辦事項</title>
    <style>
    </style>
</head>

<body>

    <div id="todo">

        <div class='row m-2'>
            <div class="col-md-6 ">
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <h3>新增項目</h3>
                        <hr>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">

                        <div class="form-group input-group-lg">

                            <label for="newItem">新事項:</label>
<pre>
<strong>輸入新事項新增代辦事項
輸入事項後按下空白鍵加上 @Tag 可以新增暫時標籤，但是無法用暫時標籤進行篩選
例如: 看電影 @forFun
</strong></pre>
                            <!-- <button class="btn btn-info" v-on:click="createItem">+</button>
                                <div v-if="count>0">
                                    <input v-for="(item,index) in count" type="text"  placeholder="">
                                </div> -->
                            <input type="text" class="form-control " v-model="newItem">
                            <span class="badge badge-success" v-text="Tag"></span>
                            <button class="btn btn-primary mt-1" type="button" v-on:click="insertItem">new
                                Item</button>

                        </div>
                        <div class="form-group">
                            <label for="newTag">新增長期 Tag:</label>
                           <pre><strong>新增Tag項目，方便進行篩選</strong></pre> 
                            <input type="text" class="form-control" v-model="newTag">
                            <button class="btn btn-info mt-1" v-on:click="insertTag">Tag</button>
                            <!-- <ul class="list-group" v-if="Tags.length>0">
                                    <li class="list-group-item" v-for="(tag,index) in Tags">
                                      <h4><span class="badge badge-secondary" v-on:click="getTag(tag)">{{tag}}</span> </h4> 
                                    </li>
                                </ul> -->
                        </div>
                        </form>
                        <h6>點選Tag，選擇Tag</h6>
                        <pre><strong>移入滑鼠點擊黃色區域進行刪除</strong></pre> 
                        <div v-if="Tags.length>0" class="jumbotron">
                            <h4><span v-for="(tag,index) in Tags" class=" badge badge-secondary m-1 "
                                    v-on:click="getTag(tag)" @mouseover="showTag(tag)">{{tag}}<span
                                        v-if="isActive == tag " @click.stop="clearTag(tag,index)"
                                        class="badge badge-warning ml-2">&times;</span> </span></h4>
                        </div>
                    </div>
                </div>

                <hr>
            </div>

            <div class='col-md-6'>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <h3>{{title}}</h3>
                        <hr>
                        <div v-if="Tags.length>0">
                            <!-- :class="active==index ? badge badge-warning : badge badge-secondary m-1" -->
                            <h5><span :class="[active==-1 ? 'badge badge-warning m-1' : 'badge badge-secondary m-1']"
                                    @click="searchTag('all',-1)"> All</span>
                                <span v-for="(tag , index) in Tags" @click="searchTag(tag,index)"
                                    :class="[active==index ? 'badge badge-warning m-1' : 'badge badge-secondary m-1']">{{tag}}</span>
                            </h5>
                        </div>
                        <div v-else="Tags.length>0">
                            <h5><span class="badge badge-secondary m-1"> All</span></h5>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <div v-for="(item , index) in search" class="card bg-info text-white mt-2">
                            <div class="card-body">
                                <div class="card-text">
                                    <!-- {{index}}/{{item.id}} 測試用-->
                                    <strong v-text='item.content'></strong>
                                    <span class="badge badge-light ml-2" v-text="item.tag"></span>
                                    <small v-text='item.date' class="text-warning m-3"></small>
                                    <button class="btn btn-warning" style="float:right;"
                                        v-on:click="complete(item.id,item.tag)">complete</button>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>


        </div>

        <hr>




    </div>
    <!-- <template id="new">
        <input type="text" id="newItem" placeholder="新事項">
    </template> -->
    <script>
        let tagsArr = $.cookie('Tags') ? $.cookie('Tags').split(',') : [];
        let itemsArr = $.cookie('Items') ? JSON.parse($.cookie('Items')) : [];
        console.log(itemsArr);
        console.log(tagsArr);

        let todo = new Vue({
            el: '#todo',
            data: {
                title: '代辦事項',
                Tags: tagsArr, //tag arr
                items: itemsArr, //item arr
                Tag: '', //當下tag
                newItem: '',
                newTag: '',
                isActive: '',
                search: [],
                active: -1,
            },
            computed: {
                // search:function(tag){
                //     return this.items.filter(function(value){
                //         return value.tag == tag;
                //     })
                // }

            },
            methods: {
                insertItem: function () {
                    let regex = /^\@/;
                    console.log(this.newItem.trim().split(' '))
                    if (this.newItem.trim().split(' ').length > 1) {
                        let hasTag = this.newItem.trim().split(' ').filter((e) => { return e; });
                        if (hasTag[1].match(regex)) {
                            console.log(hasTag[1].split('@').join('').trim());
                            hasTag = hasTag[1].split('@').join('').trim();
                        }
                        this.Tag = hasTag;

                    }

                    let time = new Date();
                    let mm = time.getMonth() + 1; //只有這 月 從0開始算
                    let dd = time.getDate();
                    obj = {
                        id: 0,
                        content: this.newItem.trim().split(' ')[0],
                        status: false,
                        tag: this.Tag,
                        date: mm + '/' + dd,
                    }
                    if (itemsArr.length > 0) { //重新計算id
                        obj.id = itemsArr[itemsArr.length - 1].id + 1;
                    }
                    itemsArr.push(obj);
                    $.cookie('Items', JSON.stringify(itemsArr), { expires: 7, path: '/' })

                    this.searchTag(this.Tag, -1);
                    this.newItem = '';
                },
                insertTag: function () {

                    this.Tags.push(
                        this.newTag,
                    )
                    $.cookie('Tags', this.Tags, { expires: 7, path: '/' })
                    console.log(this.Tags)
                    console.log($.cookie('Tags'))
                },
                complete: function (id, tag) {
                    
                    itemsArr.splice(itemsArr.findIndex(function (e) {
                        return e.id == id;
                    }), 1);
                    $.cookie('Items', JSON.stringify(itemsArr), { expires: 7, path: '/' })
                    tag ? tag : 'all';
                    this.searchTag(tag, -1);
                    console.log('complete:' + id);
                },
                getTag: function (tagName) {
                    this.Tag = tagName;
                    console.log('getTag:' + tagName);
                    // console.log(this.obj);
                },
                showTag: function (tagName) {
                    this.isActive = tagName;
                    console.log('showTag:' + tagName);
                    // console.log(this.obj);
                },
                clearTag: function (tag, index) {
                    //  this.isActive =tagName;
                    if (this.Tag == tag) {
                        this.Tag = '';
                    }
                    console.log('clearTag:' + index);
                    this.Tags.splice(index, 1);
                    $.cookie('Tags', this.Tags, { expires: 7, path: '/' })
                    // console.log(this.obj);
                },
                searchTag: function (tag, index) {
                    //  this.isActive =tagName;
                    console.log('searchTag:' + tag + 'index:' + index);
                    // let search = [];
                    this.active = index;
                    if (tag == 'all') {
                        this.search = itemsArr;
                    } else {
                        this.search = itemsArr.filter(function (value) {
                            return value.tag == tag;
                        })
                        console.log(this.search);
                    }

                },
            }
        })


        todo.searchTag('all', -1);
    </script>
</body>
<!-- 事項完成刪除cookie -->

</html>